body{
    font-family: Poppins
}
.nav-link{
    color: black;
    font-size: 16px;
}
.sign-in{
    background-color: #21B573;
    color: white !important;
    border-radius: 25px !important;
    padding: 12px 28px !important;
    border: none;
}
nav{
    background-color: #F0FFF0;
}
.red-highlight{
    color: #FD511A;
}
.green-highlight{
    color: #21B573;
}
.size h1{
    font-weight: bolder;
    font-size: 48px;
}
.half-width{
    width: 40%;
    float: left;
}
.container{
    margin-bottom: 100px;
}
.col-md-7 img{
    width: 100%;
}
.card-img-top{
    width: 125px;
    padding-top: 10px;
}
#size-of-image{
    width: 100px;
}
.card-text{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 25px rgb(170, 169, 169);
}
#online-course-image{
    width: 100%;
    padding: 10px;
}
.calender{
    float: left;
}
.seat{
    float: right;
}
.card-footer{
    background-color: white;
    border: none;
}
.testimonial{
    padding: 50px 50px 50px 50px;
}
.testimonial p{
    text-align: justify;
}
.ending{
    background-color: #282531;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ending ul{
    list-style-type: none;
}
li{
    margin-left: 0px;
    padding-left: 0px;
}
